
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search {
    margin: 3em auto;
    align-items: center;
    font-size: 16px;
    width: 50%;
    height: 3em;
    border-radius: 5px;
    border: solid rgb(235, 233, 233) 2px;
    font-family: 'Courier New', Courier, monospace;
    font: rgb(235, 233, 233);
    padding-left: 1em;
    
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
}

.image-wrapper {
    padding: 2em;
}

.image-wrapper data-title {
    font-size: 16em;
}



@media (max-width: 760px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 2em;
    }
}